@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.hero-bg {
  position: relative;
}
.blur-bg {
  position: absolute;
  top:0;
  left: 0;
}
.blur-bckrnd{
  background: #f4f7ff;
  opacity: 0.8;
  backdrop-filter: blur(106.5px);
}
.empowering-bg{
  background: url('../assets/performance-bg.png');
}
.footer-border{
  border-bottom: 0.5px solid #B6B6B6;;
  padding-bottom: 50px;
}
.accordion-border{
  border-bottom: 1px solid #dadada;
  padding-top: 20px;
  padding-bottom: 20px;
}
.container-margin{
  margin:auto;
}
.position{
  position: relative;
  z-index: 200;
}
@media screen and (max-width: 1024px) {
  .container-margin{
    margin-left: 16px !important;
    margin-right: 16px !important;
  }
}
@media screen and (max-width: 768px) {
  .accordion-border{
    padding-top: 10px;
    padding-top: 10px;
  }
  .product-img{
    width: 100%;
  }
}